.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.the {
  display: inline-block;
  /* margin-right: -20px; */
  font-size: 33px;
  font-weight: lighter;
  transform: rotate(-90deg);
}
.siren {
  font-weight: bolder;
  font-size: 70px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  width: 80%;
  height: 60px;
  margin: auto;
  list-style: none;
}
.mobile-menu-icon {
  display: none;
}
.link {
  text-decoration: none;
  color: white;
  font-size: small;
  cursor: pointer;
}
.active {
  color: red;
}
.nav-links-mobile {
  /* width:90vw; */
  display: none;
}

@media screen and (max-width: 600px) {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: auto; */
    margin-left: 15px;
    position: relative;
  }
  .topic {
    justify-content: flex-start;
    margin-left: auto;
    /* float: right; */
  }
  .the {
    font-size: 18px;
  }
  .siren {
    font-weight: bolder;
    font-size: 40px;
  }
  .mobile-menu-icon {
    display: block;
    font-size: 40px;
    border: none;
    background-color: white;
    position: absolute;
    /* left: 5px; */
    top: 15px;
  }
  .navbar {
    display: none;
  }
  .nav-links-mobile {
    /* width:90vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
  }
  .link {
    color: black;
    font-size: 15px;
  }
  li {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-left: -30px;
  }
}
